.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: table-row !important;
  }

  .print-area {
    box-shadow: none !important;
    border: none !important;
  }

  body {
    background: white !important;
  }
}
